<div class="row">
    <div class="col-md-6 col-md-3-offset">
        <% if @algorithms.any? %>
            <h3>Algorithms (<%= @algorithms.count %>)</h3>
            <hr>
        <% else %>
            <h3>No algorithms available</h3>
        <% end %>
    </div>
</div>
