<div class="row">
    <div class="col-md-8">
        <% if @algorithms.any? %>
            <h3>Algorithms (<%= @algorithms.count %>)</h3>
            <ol class="algorithms">
                <%= render @algorithms %>
            </ol>
        <% else %>
            <h3> No Algorithms Available </h3>
        <% end %>
    </div>
</div>
