<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3><%=@algorithm.name%></h3>
        <hr/>
        <p><%=@algorithm.description%></p>
        <p><%=@algorithm.code%></p>
        <p><%=@algorithm.filename%></p>
    </div>
</div>
